In [1]:
#1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

#Ans

import pandas as pd
# create series
series_data = pd.Series([4, 8, 15, 16, 23, 42])
# print series
print(series_data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

#Ans

import pandas as pd
# create list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# convert list to series
my_series = pd.Series(my_list)
# print series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#3. Create a Pandas DataFrame that contains the following data:

#Name

#Alice
#Bob
#Claire

#Age
#25
#30
#27

#Gender
#Female
#Male
#Female

#Then, print the DataFrame.

#Ans

import pandas as pd
# create data dictionary
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
# create DataFrame
df = pd.DataFrame(data)
# print DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
#4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Ans

#In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is essentially a table that contains rows and columns of data, similar to a spreadsheet or a SQL table. A Pandas DataFrame can be thought of as a collection of Pandas Series objects, where each Series represents a column of the DataFrame.

#Example 

import pandas as pd
# create a dictionary of data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
# create a DataFrame
df = pd.DataFrame(data)
# create a Series
name_series = df['Name']
# print the DataFrame and the Series
print("DataFrame:\n", df)
print("\nSeries:\n", name_series)

DataFrame:
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
 0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [5]:
#5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#Ans

#Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some of the most common ones:

#1 - head() and tail(): These functions allow you to view the first or last n rows of the DataFrame, respectively. This is useful when you want to quickly inspect the structure of the data.

#2 - describe(): This function provides summary statistics of the DataFrame, including the count, mean, standard deviation, minimum, and maximum values of each column.

#3 - drop(): This function allows you to remove rows or columns from the DataFrame based on a specified axis and labels.

#4 - sort_values(): This function allows you to sort the DataFrame by one or more columns, either in ascending or descending order.

#5 - groupby(): This function groups the DataFrame by one or more columns and allows you to perform aggregate functions such as sum(), mean(), count(), and max() on the grouped data.

#6 - fillna(): This function allows you to fill missing values in the DataFrame with a specified value or method.

#7 - apply(): This function applies a specified function to each element or column of the DataFrame.

#Example

import pandas as pd
# create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27, 22, 28, 26],
        'Gender': ['Female', 'Male', 'Female', 'Female', 'Male', 'Female']}
df = pd.DataFrame(data)
# group the DataFrame by the 'Name' column and calculate the mean of the 'Age' column for each group
grouped_df = df.groupby('Name')['Age'].mean()
# print the grouped DataFrame
print(grouped_df)

Name
Alice     23.5
Bob       29.0
Claire    26.5
Name: Age, dtype: float64

In [6]:
#6. Which of the following is mutable in nature Series, DataFrame, Panel

#Ans

#In Pandas, both Series and DataFrame are mutable in nature while the Panel is immutable.

#This means that both Series and DataFrame can be modified after they are created. For example, you can add or remove rows or columns, change the values in a specific cell or slice, and perform other modifications

#The Panel is immutable which means that you cannot modify it after it is created. Instead, you can only create a new Panel object with the desired modifications. However, note that Panel is deprecated in the latest version of Pandas (1.0.0+) and its functionality is replaced with other data structures like multi-dimensional arrays and DataFrames with hierarchical indexing.

In [7]:
#7. Create a DataFrame using multiple Series. Explain with an example.

#Ans

#In Pandas, a DataFrame is a two-dimensional data structure that can store data of different types (numeric, categorical, text, etc.). A DataFrame consists of rows and columns, where each column is a Pandas Series.

#Example 

import pandas as pd
# Create three Series
s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series(['apple', 'banana', 'orange', 'mango'])
s3 = pd.Series([True, False, True, False])
# Create a DataFrame using the Series
df = pd.DataFrame({'numbers': s1, 'fruits': s2, 'bools': s3})
# Print the DataFrame
print(df)

   numbers  fruits  bools
0       10   apple   True
1       20  banana  False
2       30  orange   True
3       40   mango  False